<p id="notice"><%= notice %></p>

<p>
  <strong>Header title:</strong>
  <%= @invite.header_title %>
</p>

<p>
  <strong>Wedding date:</strong>
  <%= @invite.wedding_date %>
</p>




<p>
  <strong>Primary color:</strong>
  <%= @invite.primary_color %>
</p>

<p>
  <strong>Secondary color:</strong>
  <%= @invite.secondary_color %>
</p>

<p>
  <strong>Header color:</strong>
  <%= @invite.header_color %>
</p>

<p>
  <strong>Primary Background color:</strong>
  <%= @invite.primary_background_color %>
</p>

<p>
  <strong>Secondary Background color:</strong>
  <%= @invite.secondary_background_color %>
</p>




<p>
  <strong>Header Font:</strong>
  <%= @invite.header_font %>
</p>

<p>
  <strong>Primary Font:</strong>
  <%= @invite.primary_font %>
</p>

<p>
  <strong>Secondary Font:</strong>
  <%= @invite.secondary_font %>
</p>




<p>
  <strong>Header Font Size:</strong>
  <%= @invite.header_font_size %>
</p>

<p>
  <strong>Primary Font Size:</strong>
  <%= @invite.primary_font_size %>
</p>

<p>
  <strong>Secondary Font Size:</strong>
  <%= @invite.secondary_font_size %>
</p>




<p>
  <strong>Header Font Letterspacing:</strong>
  <%= @invite.header_font_letterspacing %>
</p>

<p>
  <strong>Primary Font Letterspacing:</strong>
  <%= @invite.primary_font_letterspacing %>
</p>

<p>
  <strong>Secondary Font Letterspacing:</strong>
  <%= @invite.secondary_font_letterspacing %>
</p>




<p>
  <strong>Bride Name:</strong>
  <%= @invite.bride_name %>
</p>

<p>
  <strong>Bride Description</strong>
  <%= @invite.bride_description %>
</p>

<p>
  <strong>Groom Name:</strong>
  <%= @invite.groom_name %>
</p>

<p>
  <strong>Groom Description:</strong>
  <%= @invite.groom_description %>
</p>




<p>
  <strong>Story Title</strong>
  <%= @invite.story_title %>
</p>

<p>
  <strong>Story Description:</strong>
  <%= @invite.story_description %>
</p>





<p>
  <strong>Venue Name</strong>
  <%= @invite.venue_name %>
</p>

<p>
  <strong>Venue Description:</strong>
  <%= @invite.venue_description %>
</p>

<p>
  <strong>Venue Coordinates:</strong>
  <%= @invite.venue_coordinates %>
</p>



<%= link_to 'Edit', edit_invite_path(@invite) %> |
<%= link_to 'Back', invites_path %>
