<nav>
  <div class="grid">
    <ul>
      <li><a href="home.html"><img src='assets/logo.svg' alt=""></a></li>
    </ul>
    <ul>
        <% if user_signed_in? %>
          <li><%= link_to "Preview", current_user.invite %></li>
          <li><%= link_to "Edit Invite", edit_invite_path(current_user.invite) %></li>
          <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
        <% else %>
          <li><a href="#">Feautures</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a class="cta" href="#">Get Started</a></li>
          <li>|</li>
          <li><%= link_to('Login', new_user_session_path)  %></li>
        <% end %>
    </ul>
  </div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</nav>

<div class="grid-full header">
  <div class="grid">
    <img id="header-logo" src='assets/logo_header.svg' alt="">
    <h1>CRAFT YOUR OWN WEDDING INVITATION</h1>
    <h5>FREE 7 DAY TRIAL. NO CREDIT CARD REQUIRED.</h5>
    <hr>
    <a class="button-md" href="#">START CRAFTING</a>
    <img src='assets/header_desk_image.png' alt="">
  </div>
</div>

<div class="grid-full customize">
  <div class="grid">
    <div class="column-12-12">
      <h1>Customize</h1>
      <h5>INLINE EDITING MEANS NO SEARCHING WHERE TO EDIT THINGS</h5>
    </div>
    <div class="column-12-12 options">
      <div class="column-3-12 option">
        <h5>OVER 100 FONTS</h5>
        <h3>Fonts</h3>
        <p>Pick the right fonts for your projects from Google web fonts library built in within our customizer.</p>
      </div>
      <div class="column-3-12 option">
        <h5>THE ENTIRE SPECTRUM</h5>
        <h3>Colors</h3>
        <p>Pick the right fonts for your projects from Google web fonts library built in within our customizer.</p>
      </div>
      <div class="column-3-12 option">
        <h5>PREDEFINED STYLING</h5>
        <h3>Styles</h3>
        <p>Pick the right fonts for your projects from Google web fonts library built in within our customizer.</p>
      </div>
      <div class="column-3-12 option">
        <h5>MAKE IT ALIVE</h5>
        <h3>Animations</h3>
        <p>Choose an animation from animate.css that you like and use it without any installation.</p>
      </div>
      <div class="column-12-12">
        <img src='assets/editor.png' alt="">
      </div>
    </div>
  </div>
</div>

<div class="grid-full inspiration">
  <div class="grid">
    <div class="column-12-12">
      <h1>Inspiration</h1>
    </div>
    <div class="column-4-12">
      <div class="showcase inspiration_1"></div>
    </div>
    <div class="column-4-12">
      <div class="showcase inspiration_2"></div>
    </div>
    <div class="column-4-12">
      <div class="showcase inspiration_3"></div>
    </div>
  </div>
</div>

<div class="grid-full pricing">
  <div class="grid options">
    <div class="column-1-12"></div>
    <div class="column-10-12">

      <div class="column-12-12">
        <h1>Pricing</h1>
      </div>

      <div class="column-2-12"></div>

      <div class="column-4-12">
        <div class="price-option">
          <h5>7 DAY TRIAL</h5>
          <h2>0</h2>
          <hr>
          <ul>
            <li>Story</li>
            <li>Bride &amp Groom</li>
            <li>Gallery X20 Photos</li>
            <li>Bridesmaids &amp Groomsmen</li>
            <li>Venue</li>
            <li>Scedule</li>
            <li>Food Menu</li>
            <li>Gift Registry</li>
          </ul>
          <a class="button" href="#">Get Started</a>
        </div>
      </div>

      <div class="column-4-12">
        <div class="price-option">
          <h5>EXTENDED PACKAGE</h5>
          <h2>7</h2>
          <hr>
          <ul>
            <li>*All of the trial feautures</li>
            <li>Guests RSVP directly on website</li>
          </ul>
          <a class="button" href="#">Get Started</a>
        </div>
      </div>

    </div>
    <div class="column-1-12"></div>
    <div class="column-12-12 footer">
      <small>&copy; Copyright Smitten 2017 - Designed &amp developed by <a href="https://twitter.com/stefanmostert">Stefan Mos</a></small></div>
  </div>
</div>
