<div class="grid-full login">
  <div class="grid vertical-align">
    <div class="column-3-12"></div>
    <div class="column-6-12 module">
      <div class="column-4-12">
        <div class="vertical-align">
          <h3>Login</h3>
          <hr>
          <h5>LET'S CRAFT!</h5>
        </div>
      </div>
      <div class="column-8-12">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Log in" %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
    <div class="column-3-12"></div>
  </div>
</div>
